/*button {
    width: 200px;
    place-content: center;
    align-items: center;
    display: flex;
    height: 18px;
    justify-content: center;
    margin: auto;
    vertical-align: middle;
    margin-top: 35%;
    background-color: aliceblue;
}*/



.wrapper{
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

a{
display: block;
width: 200px;
height: 40px;
line-height: 40px;
font-size: 18px;
font-family: sans-serif;
text-decoration: none;
color: white;
border: 2px solid white;
letter-spacing: 2px;
text-align: center;
position: relative;
transition: all .35s;
}

a span{
position: relative;
z-index: 2;
}

a:after{
position: absolute;
content: "";
top: 0;
left: 0;
width: 0;
height: 100%;
background: rgba(255, 255, 255, 0.4);
transition: all .35s;
}

a:hover{
    color: red;
}

a:hover:after{
    width: 50%
}

/*
.transparent_btn{
    background-color: #333;
    border: 2px solid #4b4b4b;
    padding: 9px 5px!important;
    border-radius: 5px!important;
    cursor: pointer;
    font-size: 1rem;
    margin: auto;
}
.mr10{
    margin-right: 10px!important;
}


.white_btn {
    background: #fff!important;
    color: #000!important;
}

.black_btn, .generic_btn, .grey_btn, .themehover_btn, .white_btn {
    border-radius: 5px;
cursor: pointer;
padding: 7px 20px;
font-size: 1rem;
margin: 2px;
background: #d54e23;
color: #fff;
text-transform: capitalize;
font-weight: 700;
background: var(--c-theme-gradient);
transition: all .2s ease-in-out;
display: inline-block;
border: none!important;
    
}
*/