div{
    text-align: center;
    
}
label{
    text-align: center;
}
section {
    border-style: solid;
    margin-top: 20%;
    background-color: gray;
}
button {
    background: #33B5E5;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 10px;
  }
  button:hover {
    background: #33B5FF;
  }
  button:active {
    background: blue;
  }
