<!--
<section>
    <div class="container">
        <h1>Login</h1>
        <form action="">
            <div class="form-group">
                <label for="firstname">Username</label>
                <input [(ngModel)]="username" type="text" name="username" class="form-control">
            </div>
            <pre></pre>
            <div class="form-group">
                <label for="firstname">Password</label>
                <input [(ngModel)]="password" type="text" name="password" class="form-control">
            </div>
            <pre></pre>
            <button (click)="login()" class="btn btn-primary" type="submit">Login</button>
            <br>
            <a routerLink="/register">Create An account</a>
        </form>
     </div>
</section>
-->

<section class="py-4 py-xl-5">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md-8 col-xl-6 text-center mx-auto">
                <h2 style="color: white;">Log in</h2>
            </div>
        </div>
        <div class="row d-flex justify-content-center">
            <div class="col-md-6 col-xl-4">
                <div class="card mb-5">
                    <div class="card-body d-flex flex-column align-items-center">
                        <div class="bs-icon-xl bs-icon-circle bs-icon-primary bs-icon my-4"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" viewBox="0 0 16 16" class="bi bi-person">
                                <path d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z"></path>
                            </svg></div>
                        <form class="text-center" method="post">
                            <div class="mb-3"><input [(ngModel)]="username" type="text" name="username" class="form-control" placeholder="Email"></div>
                            <div class="mb-3"><input [(ngModel)]="password" type="password" name="password" class="form-control" placeholder="Password"></div>
                            <div class="mb-3"><button (click)="login()" class="btn btn-primary d-block w-100" type="submit">Login</button></div>
                            <a routerLink="/register">Create An account</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
