<div class="category search">
    <span>
        <input [(ngModel)]="searchBody" (input)="sendTheNewValue($event)" type="text">
        <button (click)="onSearch()">Search</button>
    </span>
</div>

<div class="category">
    <h3>Filter by category</h3>
    <select [(ngModel)]="filter" name="category" id="">
        <h4>Category</h4>
        <option value="0">All</option>
        <option value=1>Books</option>
        <option value=2>Clothing</option>
        <option value=3>Electronics</option>
        <option value=4>Cosmetics</option>
        <option value=5>Foods</option>
        <option value=6>Gadgets</option>
    </select>   
    <button (click)="onFilter()">filter</button>
</div>

<section class="product-index">
    <app-proudct-item *ngFor="let product of products" [product]="product"></app-proudct-item>
</section>
