<header>
    <h1 class="logo">All in One</h1>
    <nav>
        <ul class="nav-links">
            <li><a routerLink="products">Products</a></li>
            <li><input class="search-input" placeholder="Search Everything" type="text" [(ngModel)]="searchItem" ></li>
            <li><button (click)="onSearch()">Search</button></li>
            <li><a routerLink="cart"><mat-icon class="account">shopping_cart</mat-icon>Cart {{ total }}</a></li>
            <li><a routerLink="profile"><mat-icon class="account">account_circle</mat-icon>{{ name }}</a></li>
        </ul>
    </nav>
    <a *ngIf="isLoggedIn()" routerLink="login"><button>LogIn</button></a>
    <a *ngIf="!isLoggedIn()" routerLink="login" ><button (click)="removeSession()">LogOut</button></a>
</header>